table, th, td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}
body {
  background-color: #3366ff;
}
th, td {
  padding: 8px;
  text-align: center;
th {
  background-color: #9999ff; 
}
tr {
  background-color: #e6ffff;
