* {
    margin: 0;
    padding: 0;
}
.container {
    background-color: lightblue;
    padding: 0px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "c a a a"
    "c b b d"
    "e e f d";
}
.a {
    background-color: lightgreen;
    grid-area: a;
    height: 25vh;
    margin: 5px;
}
.b{
   background-color: blue;
    grid-area: b;
    height: 50vh;
    margin: 5px;
}
.c{
    background-color: red;
    grid-area: c;
    margin: 5px;
}
.d{
    background-color: orange;
    grid-area: d;
    margin: 5px;
}
.e{
    background-color:yellow;
    grid-area: e;
    height: 25vh;
    margin: 5px;
}
.f{
    background-color:yellow;
    grid-area: f;
    height: 25vh;
    margin: 5px;
