* {
    margin: 0;
    padding: 0;
}
.container {
    background-color: lightblue;
    padding: 0px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "f a a a"
    "f b b b"
    "f d d d";
}
header {
    background-color: lightgreen;
    grid-area: a;
    height: 25vh;
    margin: 5px;
}
nav {
   background-color: blue;
    grid-area: b;
    height: 50vh;
    margin: 5px;
}
main{
    background-color: red;
    grid-area: f;
    margin: 5px;
}
aside{
    background-color: orange;
    grid-area: e;
    margin: 5px;
}
footer{
    background-color:yellow;
    grid-area: d;
    height: 25vh;
    margin: 5px;
}
footer1{
    background-color:yellow;
    grid-area: g;
    height: 25vh;
    margin: 5px;