* {
    margin: 0;
    padding: 0;
  }
  .container {
    background-color: rgb(50, 117, 205);
    padding: 0px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "a b b b"
    "a c c d"
    "a e f d";
  }

  header{
      background-color: red;
      grid-area: a;
      height: 100vh;
  }
  .uwu {
      background-color: greenyellow;
      grid-area: b;
  }
  
  .owo {
    background-color: yellow;
    grid-area: f;
}


  main {
      background-color: lightskyblue;
      grid-area: c;
  }
  aside{
      grid-area: e;
      background-color: yellow;
  }
  footer{
      background-color: orange;
      grid-area: d;
  }
