* {
    margin: 0;
    padding: 0;
  }
  .container {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    grid-template-areas: 
    "a d e"
    "a c e"
    "a b e"; }
   .a {
        background-color: red;
        grid-area: a;
        height: auto;

    }
   .b {
        background-color: green;
        grid-area: b;
        height: auto;
    }
   .c {
        background-color: yellow;
        grid-area: c;
        height: auto;
    }
   .d {
        background-color: blue;
        grid-area: d;
        height: auto;
    }
.e {
        background-color: magenta;
        grid-area: e;
        height: auto;
    }
   h1{
       text-align: center;
}
.tab1{
    margin-left: 50px;
    margin-top:50px;
}
#de{
    display:block;
    background-color: red;
}
#dr{
    display:block;
}
